:root {
    --primary-color: #FFFFFF;
    --secondary-color: #C0C0C0;
    --background-color: #000000;
    --font-family-base: 'Poppins';
    --base-font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: var(--base-font-size);
    font-family: var(--font-family-base);
    background-color: var(--background-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;
    height: 700px;
    overflow-y: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.container-title h1 {
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.container-title a {
    text-decoration: none;
    color: var(--primary-color);
}

.project-container {
    width: 100%; 
    justify-content: space-between;
    display: flex;
    max-width: 900px;
    overflow: hidden;
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    margin-top: 0;
}

.project-image {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image img {
    max-width: 100%;
    max-height: 55px;
    object-fit: contain;
    border-radius: 10px;
}

.project-details {
    flex-grow: 1;
    min-width: 0; 
    padding: 0px 0px;
    overflow: hidden; 
    width: calc(100% - 300px); 
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: var(--primary-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.project-description {
    font-size: 14px;
    color: var(--secondary-color);
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.project-dates {
    width: 150px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.project-dates p {
    margin: 0;
    font-size: 14px;
    color: var(--secondary-color);
}

.project-additional-info {
    width: 100%;
    display: none;
    overflow: hidden;
    opacity: 0;
    border-radius: 8px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.project-additional-info.active {
    display: block;
    padding: 5px 20px;
    margin-top: 10px;
    opacity: 1;    
}

.project-additional-info p {
    color: var(--primary-color);
    margin: 5px 0;  
    line-height: 1.5;
}

.project-additional-info ul {
    color: var(--primary-color);
    margin: 5px 0;
    padding-left: 20px;
}

.project-additional-info li {
    margin-bottom: 3px; 
    line-height: 1.4; 
    font-size: 14px;
}